safetensors
diffusers
transformers==4.52.4
pyyaml
oyaml
tensorboard
einops
accelerate
pydantic
omegaconf
tqdm
huggingface_hub
opencv-python
matplotlib==3.10.1
setuptools==69.5.1
peft
tabulate
psutil
ipykernel
optimum