model:
  pretrained_model_name_or_path: lrzjason/flux-kontext-nf4  # Using quantized model for lower memory
  quantize: false
  lora:
    r: 16
    lora_alpha: 16
    init_lora_weights: "gaussian"
    target_modules: ["to_k", "to_q", "to_v", "to_out.0"]
    pretrained_weight: null
    adapter_name: "lora_edit"

data:
  class_path: qflux.data.dataset.ImageDataset
  init_args:
    dataset_path:
      - split: train
        repo_id: TsienDragon/face_segmentation_20
    caption_dropout_rate: 0.0
    prompt_image_dropout_rate: 0.0
    use_edit_mask: true
    selected_control_indexes: [1]
    processor:
      class_path: qflux.data.preprocess.ImageProcessor
      init_args:
        process_type: center_crop
        resize_mode: bilinear
        target_size: [832, 576]
        controls_size: [[832, 576]]
  batch_size: 2
  num_workers: 2
  shuffle: true

logging:
  output_dir: /tmp/image_edit_lora/
  report_to: tensorboard
  tracker_project_name: testInference
  tags:
    - test
  notes: "Test inference configuration"

optimizer:
  class_path: bitsandbytes.optim.Adam8bit
  init_args:
    lr: 0.0001
    betas: [0.9, 0.999]

lr_scheduler:
  scheduler_type: "cosine"
  warmup_steps: 50
  num_cycles: 0.5
  power: 1.0

loss:
  mask_loss: false
  forground_weight: 2.0
  background_weight: 1.0

train:
  gradient_accumulation_steps: 1
  max_train_steps: 10000
  checkpointing_steps: 100
  max_grad_norm: 1.0
  mixed_precision: "bf16"
  gradient_checkpointing: false
  low_memory: true
  fit_device:
    vae: cuda:0
    text_encoder: cuda:0

trainer: FluxKontext
resume: null

cache:
  devices:
    vae: cuda:0
    text_encoder: cuda:0
    text_encoder_2: cuda:0
  cache_dir: ${logging.output_dir}/${logging.tracker_project_name}/cache
  use_cache: true
  prompt_empty_drop_keys:
    - prompt_embeds
    - pooled_prompt_embeds

predict:
  devices:
    vae: cuda:0
    text_encoder: cuda:0
    text_encoder_2: cuda:0
    dit: cuda:0

